<br>
<footer class="text-center z-50 sticky">
    <!-- Include about sections to show off my other work -->

    <small class="z-50">© Copyright 2022 Doc McOffice, Inc.</small>
</footer>
<script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>
</body>
</html>