<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        <!-- Link CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- aAwesome ICONS LINK -->
        <script src="https://kit.fontawesome.com/ace15df57b.js" crossorigin="anonymous"></script>
</head>
    <title>Doc McOffice</title>
</head>
<body>
    <nav>
        <ul class="nav-items container">
            <li>
                <a href="/patient">Home Page</a>
            </li>
            <!-- <li>
                <a href="#">Create Appointment</a>
            </li> -->
            <li>
                <a href="#">Sign In</a>
            </li>
            <li>
                <a href="#">Register</a>
            </li>
        </ul>
    </nav>