<%-include("./partials/header.ejs")%> 
<style>
   .introPage{ 
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
   
   }
   .greenish{
    background-color: #96D4D4;
   }



</style>
  <section class="introPage greenish h-80 text-center ">
    <!-- content here -->
    <div class=" curve space-y-4 z-50">
            <h1 class="text-4xl"> Welcome to Doc McOffice</h1>
            <h2>Making Scheduling your doctor appointments easier one step at a time.</h2>
        
    <div class="flex justify-center space-x-4 z-40">
    <button class="rounded-full bg-emerald-200 px-6"><a href="#">Sign In</a></button>
    <button class="rounded-full bg-sky-500 px-6"><a href="/users/register">Sign Up</a></button>
    </div>
</div>
  </section>
  <section class="w-full" style="background-color:#92B4A7;">
    <div class="z-50">
        <h2>About</h2>
    <div class="text">

    </div>
    </div>
  </section>
  <section>
    <div class="z-50">
        <h2>Services</h2>
    </div>
  </section>

<%-include("./partials/footer.ejs")  %> 