<%-include("./partials/headerforProfile.ejs")  %> 
<style>
    .create{
     color:#92B4A7;
    }
    .submitBtn{
        background-color: #92B4A7;
    }
    .checkboxHolder{
    display:flex;
    justify-content: flex-end;
    align-content: center;
}
</style>
<div class=" rounded shadow-md showContainer">
    <div class="flex justify-center">
        <h1 class="text-center text-3xl rounded-full  " style="  background-color: #92B4A7;margin-bottom: 10px;  width:80vw; padding:5px;">New Appointment Card Form</h1>
    </div>
    
<form action="/patient" method="POST" class="form showForm flex justify-center flex-col">
    <div class="checkboxHolder gap-4">
         <label for="firstAppt"> First Appointment</label>
        <input type="checkbox" id="firstAppt" name="firstAppt" class="form-checkbox">
    </div>
   
   
     <br>
    <label for="firstName">First Name</label>
    <input type="text"class="form-input" id="firstName" name="firstName" required>

    <label for="lastName">Last Name</label>
    <input type="text" class="form-input" id="lastName" name="lastName"  required/>

    <label for="lastName">Doctor Name</label>
    <select class="form-select" id="docName" name="docName" required>
        <option >Please select the doctor</option>
        <option value="Jordan Smith">
           Jordan Smith
        </option>
        <option value="Jack Bahari">
          Jack Bahari
        </option>
        <option value=" Nancy Muller">
            Nancy Muller
        </option>
    </select>
<!-- Miltary Time 8am to 6pm/18 -->
<!-- Will display an alert if it over the time -->
    <label  for="time">Time</label>
    <input type="time"class="form-input" id="time" name="time"  min="08:00" max="18:00" required>

    <label for="date">Date</label>
    <input type="date" class="form-input" id="date" name="date" required>
    
    <br>
   

    <label for="reason">Reason</label>
   
    <textarea type ="text" class="form-textarea" id="reason" name="reason"  rows="4" cols="50" required></textarea>
    <br>
    
        <button class="submitBtn rounded-full py-2 text-xl" style="padding:5px;">Submit</button>
</form>
</div>
<%-include("./partials/footer.ejs")   %> 