<%-include("./partials/headerforProfile.ejs")  %> 
<style>
    .create{
     color:#92B4A7;
    }
</style>
<div class=" rounded shadow-md showContainer bg-zinc-200">
    <h1>New Appointment Card Form</h1>
<form action="/patient" method="POST" class="form showForm flex justify-center flex-col">
    
    <label for="firstName">First Name</label>
    <input type="text"class="form-input" id="firstName" name="firstName" required>

    <label for="lastName">Last Name</label>
    <input type="text" class="form-input" id="lastName" name="lastName"  required/>

    <label for="lastName">Doctor Name</label>
    <select class="form-select" id="docName" name="docName" required>
        <option>Please select the doctor</option>
        <option value="Rousse Bidon">
           Rousse Bidon
        </option>
        <option value="Jack Bahari">
          Jack Bahari
        </option>
        <option value=" Nancy Muller">
            Nancy Muller
        </option>
    </select>
<!-- Miltary Time 8am to 6pm/18 -->
<!-- Will display an alert if it over the time -->
    <label  for="time">Time</label>
    <input type="time"class="form-input" id="time" name="time"  min="08:00" max="18:00" required>

    <label for="date">Date</label>
    <input type="date" class="form-input" id="date" name="date" required>

    <label for="reason">Reason</label>
    <textarea type ="text" class="form-textarea" id="reason" name="reason"  rows="4" cols="50" required></textarea>
    <br>
    <button class="submitBtn bg-red-600 rounded-full py-2">Submit</button>
</form>
</div>
<%-include("./partials/footer.ejs")   %> 