body{
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    color:black;
}
table{
    text-align:center;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
    padding: 15px;
  }
.nav-items{
    display: flex;
    justify-content:flex-end;
    gap:20px;
}
.tableContainer{
    display: flex;
    justify-content: center;
}
.createBtn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}
.showForm{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type=text],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .buttonContainer{
    display: flex;
    justify-content: flex-end;
    gap:2px;
  }
  .home:hover{
    color: #92B4A7;
  }
  .create:hover{
    color:#92B4A7;
  }
  .signIn:hover{
    color: #92B4A7;;
  }
  .register:hover{
    color: #92B4A7;
  }
  .signOut:hover{
    color: #92B4A7;
  }
 